body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 0 0 15px 0;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
  font-family: sans-serif;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border: brown;
}

.bottom-line {
  margin: 25px 0 0 0 ;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin:5px 0 5px 0;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin:0 0 5px 0;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}